.Countdown {
  font-size: 35px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: nowrap;
  h1 {
    border: 1px solid black;
    padding: 10px;
  }
  h2 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
}